
.button-group {
    display: flex;
    gap: 50px;
}

.parallelogram {
    background-color: #fdf800;
    color: #37EBF3;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin-right: -20px;
    transform: skew(-20deg);
    z-index: 1;
}

.parallelogram span {
    display: block;
    transform: skew(20deg);
}

.parallelogram:hover {
    background-color: #0056b3;
}

.parallelogram:active {
    background-color: #003d80;
}

.parallelogram:last-child {
    margin-right: 0;
}